@font-face {
    font-family: AudiType-Bold;
    src: url('./Fonts/AudiType-ExtendedBold.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AudiType-Normal;
    src: url('./Fonts/AudiType-ExtendedNormal.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: AudiType-Light;
    src: url('./Fonts/AudiTypeScreen-Light.ttf');
    font-weight: 400;
    font-style: normal;
}